__pycache__/
*.py[cod]
.venv/
venv/
.env
data/raw/
data/HAR/
data/
data/small_model_track_test/
*.zip
*.z0*
cache/
cache_v2/
*.npy
!cache/.gitkeep
!cache_v2/.gitkeep
runs/*
!runs/.gitkeep
checkpoints/*.pt
checkpoints/*.pth
*.pt
*.pth
submissions/
.DS_Store
.idea/
.vscode/
